<form action="/login" method="POST">
  <label>Username: </label><input type="username" name="user[username]">
  <br></br>
  <label>Password: </label><input type="password" name="user[password]">
  <br></br>
  <input type="submit" value="Login">
</form>

<p>Or <a href="/signup">Sign Up</a> if you don't have an account.</p> 
