<h1>Please Login To See Your Bubbletea List</h1>

<form action="/login" method="POST">
  <label>Username: </label><input type="username" name="username"placeholder="Username">
  <br></br>
  <label>Password: </label><input type="password" name="password"placeholder="Password">
  <br></br>
  <input type="submit" value="Login">
</form>

<p>Or <a href="/signup">Sign Up</a> if you don't have an account.</p>
