<h1>Sign Up For RemindMeTea</h1>
<form action="/signup" method="POST">
  <label>Username: </label><input type="text" name="username">
  <br></br>
  <label>Email: </label><input type="email" name="email">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="Signup">
</form>

<p>Or <a href="/login">Log In</a> if you already have an account.</p>
