<h1>Hello, <%=current_user.username%></h1>

<% @bbts.each do |bbt| %>
  <p><a href="/bbts/<%=bbt.id%>"><%= bbt.name %></a></p>
<% end %>
  <br></br>
  <a href="/bbts/new"><Button>New Bubbletea</Button></a>
  <a href="/logout"><Button>Log Out</Button></a>
