<% if logged_in? %>
<%= @error %>
  <form action='/bbts' method="POST">
    Bubbletea Name:
    <input type="text" name="name"><br>
    Does It Have Bubbles?:
    <input type="text" name="bubble"><br>
    Brand:
    <input type="text" name="brand"><br>
    Sugar Amount:
    <input type="text" name="sugar_amount"><br>
    Size:
    <input type="text" name="size"><br>
    Hot or Cold:
    <input type="text" name="temp"><br>
    <input type="submit" name="Create">
  </form>
  <a href="/logout">Log Out</a>
<% else %>
    <h1> You Must Be Logged To Make Your List. </h1>
<% end %>
